<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>local.spotify-mute</string>

	<key>ProgramArguments</key>
	<array>
		<string>__REPO_PATH__/start_spotify_muter.sh</string>
	</array>

	<key>RunAtLoad</key>
	<true/>

	<key>KeepAlive</key>
	<true/>

	<key>WorkingDirectory</key>
	<string>__REPO_PATH__</string>

	<key>StandardOutPath</key>
	<string>__LOG_PATH__</string>

	<key>StandardErrorPath</key>
	<string>__LOG_PATH__</string>
</dict>
</plist>
